@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.create-product-modal .modal-content {
  font-family: "Roboto Condensed", sans-serif;
}

.create-product-modal .modal-body {
  max-height: 70vh; 
  overflow-y: auto; 
}

.image-preview-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.image-preview-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-preview-remove-btn {
  position: absolute !important; 
  top: 4px;
  right: 4px;
  
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.image-preview-remove-btn:hover {
  opacity: 1;
}