@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.main-layout {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
}

.post-container {
  flex: 1;
  padding: 20px;
}

.post-container h1{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
}

