@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.search-input-group {
  --padding-left: 1.5em;
  --icon-change-color: #15A986;
  --rotate: 80deg;

  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  width: 500px; 
}


.search-input-control {
  padding-left: 3.5rem !important; 
  padding-right: 2.5rem !important; 
  height: 40px; 
}

.search-icon-container {
  position: absolute;
  left: var(--padding-left);
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s cubic-bezier(.4, 0, .2, 1);
  transform: rotate(0) scale(1);
  pointer-events: none;
  z-index: 5; 
}

.search-icon {
  color: #111;
  height: 15px;
  position: absolute; 
  transition: 0.3s cubic-bezier(.4, 0, .2, 1);
}

/* Ícono "encendido" (lupa) */
.swap-on {
  opacity: 1;
  visibility: visible;
}

/* Ícono "apagado" (flecha) */
.swap-off {
  transform: rotate(-80deg); /* Oculto y pre-rotado */
  opacity: 0;
  visibility: hidden;
}


.search-icon-container.active {
  transform: rotate(var(--rotate)) scale(1.3);
}

.search-icon-container.active .swap-on {
  opacity: 0;
  visibility: hidden;
}

.search-icon-container.active .swap-off {
  opacity: 1;
  visibility: visible;
  color: var(--icon-change-color);
  transform: rotate(0); 
}

.search-close-btn {
  position: absolute;
  right: 0.75rem;
  top: 0;
  bottom: 0;
  height: 100%;
  
  background: none;
  border: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #111;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  

  margin-top: auto;
  margin-bottom: auto;
  
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  z-index: 5;
  cursor: pointer;
}

.search-close-btn svg {
  height: 20px;
  width: 20px;
}

.search-close-btn.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.search-close-btn:hover {
  color: #000; 
}